.fadein {
    animation: fadein ease 5s;
}

.fastfadein {
    animation: fadein ease 0.5s;
}

.slowedfadein {
    animation: fadein ease 12s;
}
  
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
.fadeout {
    animation: fadeout ease 2s;
}
.fastfadeout {
    animation: fadeout ease 0.5s;
}

.toup{
    animation: todown 0.5s forwards;
}

.todown{
    animation: todown 0.5s forwards;
}
.fadeintoup{
    opacity: 0;
    animation: fadeintodown 0.5s forwards;
}

.fadeintodown{
    opacity: 0;
    animation: fadeintodown 0.5s forwards;
}
.slowfadeintoup{
    opacity: 0;
    animation: fadeintodown 2s forwards;
}

.slowfadeintodown{
    opacity: 0;
    animation: fadeintodown 2s forwards;
}
.slowtoup{
    animation: todown 2s forwards;
}

.slowtodown{
    animation: todown 2s forwards;
}

.unselect {
    user-select: none;
    cursor:default;
}
  
@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@keyframes todown {
    0% {
        transform: translateY(5rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes toup {
    0% {
        transform: translateY(-5rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeintodown {
    0% {
        opacity: 0 ;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeintoup {
    0% {
        opacity:0;
        transform: translateY(-5rem);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}


.text {
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
}
.center{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.widthcenter{
    margin: 0 auto;
}
.weakbold{
    font-weight: 600
}